@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --grey: #F1F0F6;
    --dark-grey: #8D8D8D;
    --light: #fff;
    --dark: #000;
    --green: #81D43A;
    --light-green: #E3FFCB;
    --blue: #1775F1;
    --light-blue: #D0E4FF;
    --dark-blue: #0C5FCD;
    --red: #FC3B56;

    --bg-clr: #f5f7ff;
    --white: #fff;
    --primary: #4b6fff;
    --btn-hvrbrd-clr: #133bc8;
    --header-bg-clr: #f7f9fa;
    --text-clr: #697296;
    --border-clr: #d1dce3;
    --icon-clr: #c2c8df;
    --sz: 10vmin;
    /* size */
    --on: #269fe5;
    /* color on */
    --of: #616774;
    /* color off */
    --tr: all 0.25s ease 0s;
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    z-index: 12;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

#categoryPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.category-content {
    padding: 30px 30px;
    max-width: 57%;
    width: 100%;
    margin: 0 auto;
}

/* card content */

.card-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 2.5rem 0rem;
}

.signle-item {
    border: 1px solid rgb(179, 176, 176);
    display: flex;
    justify-content: center;
    padding: 2rem 1rem;
    border-radius: .30rem;
    transition: all 0.3s;
}

.signle-item:hover {
    border: 1px solid #D8019C;
}

.signle-item .icon-img {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border-radius: 100%;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.signle-item:hover .icon-img {
    background: linear-gradient(135deg, #FC016C, #FD016A, #D8019C, #C501B7, #9E00EB);

}

.signle-item button {
    width: 190px;
    height: 42px;
    outline: none;
    border: 1px solid rgb(220, 218, 218);
    font-size: .95rem;
    font-weight: 500;
    border-radius: .30rem;
    cursor: pointer;
    transition: all 0.3s;
}

.signle-item:hover button {
    background: linear-gradient(135deg, #FC016C, #FD016A, #D8019C, #C501B7, #9E00EB);
    color: #fff;
}

/* end card content */

.continue-btn {
    border: 1px solid #D8019C;
    width: 190px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: #9E00EB;
    font-size: .95rem;
    font-weight: 500;
    border-radius: .30rem;
    transition: all 0.3s;
}

.continue-btn:hover {
    background: linear-gradient(135deg, #FC016C, #FD016A, #D8019C, #C501B7, #9E00EB);
    color: #fff;
}

.divider {
    width: 1px;
    background-color: gray;
    height: 30px;
    display: block;
}

/* -------Category price plan------- */

#categoryPricePlan {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.categoryPricePlan-content {
    padding: 30px 30px;
    max-width: 57%;
    width: 100%;
    margin: 0 auto;
    position: relative;
    bottom: 2.6rem;
}

/* toggle */

 .toggle-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 0rem;
}
 .toggle {
    position : relative ;
    display : inline-block;
    width : 110px;
    height : 45px;
    background: linear-gradient(135deg, #FC016C, #FD016A, #D8019C, #C501B7, #9E00EB);
    border-radius: 30px;
    border: 2px solid gray;
}

.toggle:after {
    content: '';
    position: absolute;
    width: 45px;
    height: 44px;
    border-radius: 50%;
    background-color: #fff;
    left: 1px;
    transition:  all 0.5s;
}
       
.checkbox:checked + .toggle::after {
    left : 62px; 
}

.checkbox:checked + .toggle {
    background: #560480;
}
       
.checkbox { 
    display : none;
}

/* end toggle */

.categoryPricePlan-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.PricePlan-item {
    border: 1px solid rgb(179, 176, 176);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;
    padding: 1.5rem 1rem;
    border-radius: .30rem;
    position: relative;
}

.PricePlan-item button {
    width: 190px;
    height: 42px;
    outline: none;
    border: 1px solid rgb(220, 218, 218);
    font-size: .95rem;
    font-weight: 500;
    border-radius: .30rem;
    background: linear-gradient(135deg, #FC016C, #FD016A, #D8019C, #C501B7, #9E00EB);
    color: #fff;
    cursor: pointer;
}


/*-------End Category price plan------- */


/* responsive */
@media screen and (min-width:272px) and (max-width:1380px) {
    .category-content {
        max-width: 100%;
    }

    .categoryPricePlan-content {
        max-width: 100%;
    }
}

@media screen and (min-width:272px) and (max-width:576px) {
    .card-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .category-content {
        height: 100%;
    }

    .categoryPricePlan-content {
        height: 100%;
        bottom: 0rem;
    }

    .categoryPricePlan-info {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width:577px) and (max-width:768px) {
    .card-content {
        grid-template-columns: repeat(2, 1fr);
    }

    .category-content {
        height: 100%;
    }

    .categoryPricePlan-content {
        height: 100%;
        bottom: 0rem;
    }

    .categoryPricePlan-info {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* @media screen and (min-width: 270px) and (max-width: 300px) {
    .toggle-content {
        flex-direction: column;
        gap: 0rem;
    }

    .toggle-content .yearly {
        position: relative;
        top: 40px;
    }

    .toggle-content .monthly {
        position: relative;
        bottom: 40px;
    }
} */
















/* #content {
	position: relative;
	width: calc(100% - 260px);
	left: 260px;
	transition: all .3s ease;
}

#sidebar.hide+#content {
	width: calc(100% - 60px);
	left: 60px;
}

@media screen and (max-width: 999px) {
	#content {
		position: relative;
		width: calc(100% - 60px);
		transition: all .3s ease;
	}
} */